/* Ledger Section (LP-3) */
.lp-3-section {
  background: #FFFFFF;
  margin-left: 50px;
  padding-top: 64px;
}

.lp-3-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 136px;
  min-height: calc(100vh - 64px);
}

.lp-3-content {
  width: 432px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lp-3-heading {
  font-family: inter,sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.6px;
  color: #050505;
  margin: 0;
}

.lp-3-description {
 font-family: inter,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  margin: 0;
}

.lp-3-ledger-container {
  width: 500px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-3-section .openwork-ledger-image {
  width: 140%;
  height: auto;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Desktop only: scale up the ledger image without affecting layout */
@media (min-width: 1441px) {
  .openwork-ledger-image {
    transform: scale(1.45) translateX(100px); /* 25% larger on large desktops */
    transform-origin: center center;
  }
}

/* Responsive */
@media (min-width: 1280px) and (max-width: 1440px){
  .lp-3-section {
    margin-left: 10px;
  }
  .lp-3-container {
    margin-left:180px;
    padding: 0 80px;
  }
  .openwork-ledger-image {
    transform: translateX(60px);
  }
}

@media (max-width: 1024px) {
  .lp-3-section {
    margin-left: 0px;
  }
  .lp-3-container {
    /* margin-left:140px; */
    flex-direction: column;
    gap: 60px;
    padding: 0 40px;
  }

  .lp-3-content {
    width: 100%;
    max-width: 500px;
    text-align: center;
    align-items: center;
  }
}

@media (min-width:481px) and (max-width: 768px) {
  .lp-4-section {
    margin-left: 0px;
  }
  .lp-3-container {
    /* margin-left:50px; */
    gap: 200px;
    padding: 0 20px;
  }

  .lp-3-heading {
    color: var(--Base-Black, #050505);
    text-align: center;
    font-family: inter, sans-serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.2px;
  }

  .lp-3-description {
    color: var(--Gray-Dark, #767676);
    font-size: 14px;
    line-height: 21px;
  }

  .lp-3-ledger-container {
    width: 460px; /* smaller than desktop */
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .lp-3-section .openwork-ledger-image {
    width: 100%;
    max-width: 460px;
    height: auto;
    transform: scale(1.5);
    transform-origin: center;
  }
}

@media (max-width: 480px) {

  .lp-3-section {  
    padding-top: 0px;
    
    margin-left: 0px;
  }

  .lp-3-container {
    /* background-color:black; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 16px 72px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  min-height: calc(90vh - 64px);
}

   .lp-3-ledger-container { 
    
    width: 100%;
    max-width: 325px;
    height: 450px;
    margin: 0 auto;
    overflow: visible;
  }

  .lp-3-heading {
    align-self: stretch;
    color: var(--Base-Black, #050505);
    text-align: center;
    font-family: inter,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 125% */
    letter-spacing: -0.96px;
  }

  .lp-3-description {
    color: var(--Gray-Dark, #767676);
    text-align: center;
    font-family: inter,sans-serif;
    align-self: stretch;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .lp-3-content {
    display: flex;
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

 

  .lp-3-section .openwork-ledger-image {
    width: 100%;
  max-width: 520px;
  transform: scale(1.4);
  transform-origin: center;
  }


}
