/* Post Job Section (LP-4) */
.lp-4-section {
  background: #FFFFFF;
  padding-top: 64px;
  margin-left: 50px;
}
.lp-4-ledger-container {
  width: 500px;  /* match ProfileSection size */
  height: 450px; /* match ProfileSection size */
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.lp-4-section .openwork-ledger-image {
  width: 144%;
  height: auto;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  transition: transform 0.25s ease;
}

.lp-4-container {

  max-width: 1280px;
  margin: 0 auto;
  padding: 0 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  min-height: calc(100vh - 64px);
}

.lp-4-content {
 
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lp-4-heading {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.6px;
  color: #050505;
  margin: 0;
}

.lp-4-description {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  margin: 0;
}

/* Desktop only: scale up the post job image without affecting layout */
@media (min-width: 1441px) {
  .lp-4-ledger-container img,
  .lp-4-section .openwork-ledger-image {
    transform: scale(1.45) translateX(100px); /* 1.45x and moved slightly right */
    transform-origin: center center;
  }
}

/* Responsive */
@media (min-width: 1280px) and (max-width: 1440px) {
  .lp-4-section {
    margin-left: 0px;
  }
  .lp-4-container {
    margin-left: 180px;
    padding: 0 80px;
  }
  .lp-4-ledger-container img,
  .lp-4-section .openwork-ledger-image {
    transform: translateX(60px);
  }
}

@media (max-width: 1024px) {
  .lp-4-section {
    margin-left: 0px;
  }
  .lp-4-container {
    flex-direction: column;
    gap: 60px;
    padding: 0 40px;
  }

  .lp-4-content {
    width: 100%;
    max-width: 500px;
    text-align: center;
    align-items: center;
  }
}

@media (min-width:481px) and (max-width: 768px) {
  .lp-4-section {
    margin-left: 0px;
  }
  .lp-4-container {
    /* margin-left:50px; */
    gap: 200px;
    padding: 0 20px;
  }

  .lp-4-heading {
    color: var(--Base-Black, #050505);
    text-align: center;
    font-family: inter, sans-serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.2px;
  }

  .lp-4-description {
    color: var(--Gray-Dark, #767676);
    font-size: 14px;
    line-height: 21px;
  }

  /* Reduce and center image for tablet sizes */
  .lp-4-ledger-container {
    width: 460px; /* smaller than desktop */
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .lp-4-section .openwork-ledger-image {
    width: 100%;
    max-width: 460px;
    height: auto;
    transform: scale(1.5);
    transform-origin: center;
  }
}

@media (max-width: 480px) {
  .lp-4-section {
    padding-top: 0px;
    margin-left: 0px;
  }

  .lp-4-ledger-container { 
    
    width: 100%;
    max-width: 310px;
    height: 450px;
    margin: 0 auto;
    overflow: visible;
  }

  .lp-4-container {
    /* background-color:black; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 16px 72px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  min-height: calc(90vh - 64px);
}

  .lp-4-heading {
     align-self: stretch;
    color: var(--Base-Black, #050505);
    text-align: center;
    font-family: inter,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 125% */
    letter-spacing: -0.96px;
  }


 

  .lp-4-description {
    color: var(--Gray-Dark, #767676);
    text-align: center;
    font-family: inter,sans-serif;
    align-self: stretch;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .lg-4-content {
    display: flex;
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  
 .lp-4-section .openwork-ledger-image {
    width: 100%;
  max-width: 500px;
  transform: scale(1.3);
  transform-origin: center;
}


  
}
